/Library
/obj
/temp
/*.csproj
/*.sln
/.vs
/*.suo
/*.userprefs
/*.unityproj
/ProjectSettings/ProjectVersion.txt
/Packages/manifest.json
/win/
/Build/
/AssetBundles/
/UnityPlayerStub
/Packages/
/Assets/Plugins/gen/
/Assets/Plugins/gen.meta
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
/Logs
/*.unitypackage
/*.zip